@using GuitarTunings.Models;
@model List<Song>

<h1>Alternate Guitar Tunings Home</h1>

<img src="~/image/cash_guitar.jpg" id="home-image" alt="johhny cash with guitar" height="500px">

<h3>Latest Songs</h3>
@foreach (Song song in Model)
    {
        <h6><a asp-controller="Songs"
                asp-action="Details"
                asp-route-id="@song.SongId">@song.Name</a></h6>
    } 

<h2>Number of artists: @ViewBag.artistCount</h2>
<h2>Number of songs: @ViewBag.songCount</h2>
<h2>Number of alternate tunings: @ViewBag.tuningCount</h2>

@* <h2>@ViewBag.LastUpdated</h2>
<h2>@ViewBag.aSong</h2> *@

@* <a asp-controller="TuningCategories"
    asp-action="Index">View All Alternate Tuning Categories</a>
<a asp-controller="Tunings"
    asp-action="Index">View All Alternate Tunings</a>
<a asp-controller="Artists"
    asp-action="Index">View All Artists</a>
<a asp-controller="Songs"
    asp-action="Index">View All Songs</a>

<br>


<ul>   
@if (!User.Identity.IsAuthenticated)
{
    <li class="nav-item">
    <a class="nav-link" href="~/Account/Login">Log In</a>
    </li>
    <p class="nav-link active">Not logged into account</p>  
}
else
{
    <li class="nav-item">
    <a class="nav-link" href="~/Account">Log Out</a>
    </li>
    <p class="nav-link active">Logged in as @User.Identity.Name</p>  
}
</ul> *@