@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Tuning

<h2>Alternate Tuning Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
<h3>@Html.DisplayNameFor(model => model.Description):</h3><h6>@Html.DisplayFor(model => model.Description)</h6>  

<br>

<a  asp-action="Index">View All Alternate Tunings</a>
<br>    
<a  asp-action="Edit"
    asp-route-id="@Model.TuningId">Edit AlternateTuning: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.TuningId">Delete Alternate Tuning: @Model.Name</a>
<br>


<img src="@("~/image/"+Model.ImageNameA)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameB)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameC)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameD)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameE)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameF)" asp-append-version="true" height="250px" width="250px" />
<img src="@("~/image/"+Model.ImageNameG)" asp-append-version="true" height="250px" width="250px" />