@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Tuning

@if(@TempData["TuningUpdate"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["TuningUpdate"]
  </div>
}  

<h2>Alternate Tuning Details</h2>
<hr/>
<div class="row">
  <div class="col-sm">
    <h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
    <h3>@Html.DisplayNameFor(model => model.Description):</h3><h6>@Html.DisplayFor(model => model.Description)</h6>
    <h3>@Html.DisplayNameFor(model => model.Notes):</h3><h6>@Html.DisplayFor(model => model.Notes)</h6>
  </div>    
  <div class="col-sm">
    <h3>Artists using this tuning:</h3>
    @if (@Model.JoinArtist.Count == 0)
      {
        <h6>No artists are using this tuning</h6>
      }
    else
    {
      <ul>
      @foreach (var artist in Model.JoinArtist)
      {
        <li>
          <h6><a asp-controller="Artists"
          asp-action="Details"
          asp-route-id="@artist.Artist.ArtistId">@artist.Artist.Name</a></h6>
        </li>
      }
      </ul>
    }
  </div>
  <div class="col-sm">
    <h3>Songs using this tuning:</h3>
    @if (@Model.Songs.Count == 0)
      {
        <h6>No songs are using this tuning</h6>
      }
    else
    {
      <ul>
      @foreach (var song in Model.Songs)
      {
        <li>
          <h6><a asp-controller="Songs"
            asp-action="Details"
            asp-route-id="@song.SongId">@song.Name
              @foreach (var artist in song.JoinArtist)
              {
              <span>(@artist.Artist.Name)</span>
              }
          </a></h6>
        </li>
      }
      </ul>
    }
  </div>  
</div>  

<br>

@if (!User.Identity.IsAuthenticated)
  {
  }
else
  {
    <a  asp-action="Edit"
        asp-route-id="@Model.TuningId">Edit AlternateTuning: @Model.Name</a>
    <br>
    <a  asp-action="Delete"
        asp-route-id="@Model.TuningId">Delete Alternate Tuning: @Model.Name</a>
  }

<br>
<br>

<h6><a  asp-action="Index">View All Alternate Tunings</a></h6>