@using GuitarTunings.Models;
@model List<Tuning>

@if(@TempData["TuningCreate"] != null)
{
<div class="alert alert-success" role="alert">
  <a asp-action="Details" asp-route-id="@ViewBag.TuningId">@TempData["TuningCreate"]</a>
</div>
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Alternate Tunings</h1>

@if (Model.Count == 0)
{
  <p>No Alternate Tunings have been added</p>
}

@foreach (Tuning tuning in Model)
{
  <h4><a asp-action="Details"
          asp-route-id="@tuning.TuningId">@tuning.Name</a> : @tuning.Notes</h4>
}
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Alternate Tuning</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>