@{
  Layout = "_Layout";
}

@using GuitarTunings.Models;
@model List<TuningCategory> 

<h1>Search Results</h1>

@* @if (ViewBag.resultsTuningCategories.Count == 0 & ViewBag.resultsTunings.Count == 0 & ViewBag.resultsArtists.Count == 0 & ViewBag.resultsSongs.Count == 0)
{
  <p>No results from your search could be found</p>
} *@


@if (ViewBag.resultsTuningCategories != null)  
{
  if (ViewBag.resultsTuningCategories.Count < 1)
  {
    <p>No tuning categories from your search could be found</p>
  }
  else
  {
    @foreach (var tuningCategory in ViewBag.resultsTuningCategories)
    {
      <h6><a asp-controller="TuningCategories"
            asp-action="Details"
            asp-route-id="@tuningCategory.TuningCategoryId">@tuningCategory.Name</a></h6>
    }
  }  
}

@if (ViewBag.resultsTunings != null)
{
  if (ViewBag.resultsTunings.Count < 1)
  {
    <p>No alternate tunings from your search could be found</p>
  }
  else
  {
    @foreach (var tuning in ViewBag.resultsTunings)
    {
      <h6><a asp-controller="Tunings"
              asp-action="Details"
              asp-route-id="@tuning.TuningId">@tuning.Name</a></h6>
    }
  }  
}  

@if (ViewBag.resultsArtists != null)
{
  if (ViewBag.resultsArtists.Count < 1)
  {
    <p>No artists from your search could be found</p>
  }
  else
    {
    @foreach (var artist in ViewBag.resultsArtists)
    {
      <h6><a asp-controller="Artists"
              asp-action="Details"
              asp-route-id="@artist.ArtistId">@artist.Name</a></h6>
    }
  }
}  

@if (ViewBag.resultsSongs != null)
{
  if (ViewBag.resultsSongs.Count < 1)
  {
    <p>No songs from your search could be found</p>
  }
  else
  {
    @foreach (var song in ViewBag.resultsSongs)
    {
      <h6><a asp-controller="Songs"
              asp-action="Details"
              asp-route-id="@song.SongId">@song.Name</a></h6>
    }
  }  
} 

<br>

<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>