@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.TuningCategory

@if(@TempData["TuningCategoryUpdate"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["TuningCategoryUpdate"]
  </div>
}  

<h2>@Html.DisplayFor(model => model.Name) Details</h2>
<hr/>
<div class="row">
  <div class="col-sm-3">
    <h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
    <h3>@Html.DisplayNameFor(model => model.Description):</h3><h6>@Html.DisplayFor(model => model.Description)</h6>
  </div>    
<br>
  <div class="col-sm-9">
    <h3>Alternate Tunings:</h3>
    @if (@Model.Tunings.Count == 0)
      {
        <h6>This category contains no alternate tunings</h6>
      }
    else
    {
      <ul>
      @foreach (var tuning in Model.Tunings)
      {
        <li>
          <h6><a asp-controller="Tunings"
          asp-action="Details"
          asp-route-id="@tuning.TuningId">@tuning.Name</a> : @tuning.Notes</h6>
        </li>
      }
      </ul>
    }
  </div>   
</div>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{    
<a  asp-action="Edit"
    asp-route-id="@Model.TuningCategoryId">Edit Tuning Category: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.TuningCategoryId">Delete Tuning Category: @Model.Name</a>
}
<br>
<br>
<h6><a  asp-action="Index">View All Categories</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>