@using GuitarTunings.Models;
@model List<TuningCategory>

@if(@TempData["TuningCategoryCreate"] != null)
{
  <div class="alert alert-success" role="alert">
    <a asp-action="Details" asp-route-id="@ViewBag.TuningCategoryId">@TempData["TuningCategoryCreate"]</a>
  </div>  
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Alternate Tuning Categories</h1>

@if (Model.Count == 0)
{
  <p>No categories have been added</p>
}

@foreach (TuningCategory tuningCategory in Model)
{
  <h4><b><a asp-action="Details"
        asp-route-id="@tuningCategory.TuningCategoryId">@tuningCategory.Name</a></b></h4>

    @foreach (Tuning tuning in tuningCategory.Tunings)
      {
        <ul>
        <li><h6><a asp-controller="Tunings"
                    asp-action="Details"
                    asp-route-id="@tuning.TuningId">@tuning.Name : </a>@tuning.Notes</h6></li>
        </ul>        
      }        
}
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Tuning Category</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>

<script src="~/js/details.js"></script>