@using GuitarTunings.Models;
@using GuitarTunings.ViewModels;
@model AlphabetPagingViewModel<TuningCategory>;

@if(@TempData["TuningCategoryCreate"] != null)
{
  <div class="alert alert-success" role="alert">
    <a asp-action="Details" asp-route-id="@ViewBag.TuningCategoryId">@TempData["TuningCategoryCreate"]</a>
  </div>  
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Alternate Tuning Categories</h1>

@if (Model == null)
{
  <p>No categories have been added</p>
}

<ul class="pagination justify-content-center">
  @foreach (var link in Model.Alphabet)
  {
    if (Model.FirstLetters.Contains(link) || (Model.NamesStartWithNumbers && link == "0-9") || link == "All")
    {
      if (Model.SelectedLetter == link || Model.SelectedLetter == null && link == "All")
      {
          <li class="page-item active"><span class="page-link">@link</span></li>
      }
      else
      {
        <li class="page-link">@Html.ActionLink(link, "Index", new {selectedLetter = link})</li>
      }
    }
    else
    {
      <li class="page-item disabled" ><span class="page-link">@link</span></li>
    }
  }
</ul>

@foreach (TuningCategory tuningCategory in Model.GenericList)
{
  <h4><b><a asp-action="Details"
        asp-route-id="@tuningCategory.TuningCategoryId">@tuningCategory.Name</a></b></h4>

    @foreach (Tuning tuning in tuningCategory.Tunings)
      {
        <ul>
        <li><h6><a asp-controller="Tunings"
                    asp-action="Details"
                    asp-route-id="@tuning.TuningId">@tuning.Name : </a>@tuning.Notes</h6></li>
        </ul>        
      }        
}

@foreach (string letter in Model.Alphabet)
{
  @letter
}

<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Tuning Category</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>

<script src="~/js/details.js"></script>