@model GuitarTunings.Models.Song

@if(@TempData["SongUpdate"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["SongUpdate"]
  </div>
} 

<h2>@Html.DisplayFor(model => model.Name) Details</h2>
<hr/>
<div class="row">
  <div class="col-sm-3">
    <h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
    <h3>Artist(s)</h3>
    @foreach (var artist in Model.JoinArtist)
    {
      <h6><a asp-controller="Artists"
              asp-action="Details"
              asp-route-id="@artist.Artist.ArtistId">@artist.Artist.Name</a></h6>
    }
    <h3>Album(s)</h3>
    @foreach (var album in Model.JoinAlbum)
    {
      <h6><a asp-controller="Albums"
              asp-action="Details"
              asp-route-id="@album.Album.AlbumId">@album.Album.Name</a></h6>
    }
    <h3>Tuning</h3>
    <h6><a asp-controller="Tunings"
            asp-action="Details"
            asp-route-id="@Model.Tuning.TuningId">@Model.Tuning.Name : </a>@Model.Tuning.Notes</h6>
    <h3>@Html.DisplayNameFor(model => model.Tab):</h3><h6><a href="@Html.DisplayFor(model => model.Tab)" Target="_blank">@Html.DisplayFor(model => model.Tab)</a></h6>       
  </div>
  <div class="col-sm-4">
    <h3>@Html.DisplayNameFor(model => model.Video):</h3>
    <iframe id="youtube-iframe" width="448" height="252" src="@Url.Content(Model.Video)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-sm-4">      
  <h3>@Html.DisplayNameFor(model => model.Tutorial):</h3>  
    <iframe id="youtube-iframe" width="448" height="252" src="@Url.Content(Model.Tutorial)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </div>
</div>    
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{    
<a  asp-action="Edit"
    asp-route-id="@Model.SongId">Edit Song: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.SongId">Delete Song: @Model.Name</a>
}
<br>
<br>
<h6><a  asp-action="Index">View All Songs</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>