@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Song

<h2>Song Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
<h3>@Html.DisplayNameFor(model => model.Album):</h3><h6>@Html.DisplayFor(model => model.Album)</h6>
<h3>@Html.DisplayNameFor(model => model.Tab):</h3><h6>@Html.DisplayFor(model => model.Tab)</h6>
<h3>@Html.DisplayNameFor(model => model.Video):</h3><h6>@Html.DisplayFor(model => model.Video)</h6>
<h3>@Html.DisplayNameFor(model => model.Tutorial):</h3><h6>@Html.DisplayFor(model => model.Tutorial)</h6>
<br>

<a  asp-action="Index">View All Songs</a>
<br>    
<a  asp-action="Edit"
    asp-route-id="@Model.SongId">Edit Song: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.SongId">Delete Song: @Model.Name</a>
<br>