@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Song

@if(@TempData["SongUpdate"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["SongUpdate"]
  </div>
} 

<h2>Song Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
<h3>@Html.DisplayNameFor(model => model.Album):</h3><h6>@Html.DisplayFor(model => model.Album)</h6>
<h3>Artist(s)</h3>
@foreach (var artist in Model.JoinArtist)
{
  <h6><a asp-controller="Artists"
          asp-action="Details"
          asp-route-id="@artist.Artist.ArtistId">@artist.Artist.Name</a></h6>
}
<h3>Tuning</h3>
<h6><a asp-controller="Tunings"
        asp-action="Details"
        asp-route-id="@Model.Tuning.TuningId">@Model.Tuning.Name</a></h6>
<h3>@Html.DisplayNameFor(model => model.Tab):</h3><h6><a href="@Html.DisplayFor(model => model.Tab)" Target="_blank">@Html.DisplayFor(model => model.Tab)</a></h6>
<h3>@Html.DisplayNameFor(model => model.Video):</h3><h6><a href="@Html.DisplayFor(model => model.Video)" Target="_blank">@Html.DisplayFor(model => model.Video)</a></h6>
<h3>@Html.DisplayNameFor(model => model.Tutorial):</h3><h6><a href="@Html.DisplayFor(model => model.Tutorial)" Target="_blank">@Html.DisplayFor(model => model.Tutorial)</a></h6>
<br>

<a  asp-action="Index">View All Songs</a>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{    
<a  asp-action="Edit"
    asp-route-id="@Model.SongId">Edit Song: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.SongId">Delete Song: @Model.Name</a>
<br>
}