@using GuitarTunings.Models;
@using GuitarTunings.ViewModels;
@model AlphabetPagingViewModel<Song>;

@if(@TempData["SongCreate"] != null)
{
  <div class="alert alert-success" role="alert">
    <a asp-action="Details" asp-route-id="@ViewBag.SongId">@TempData["SongCreate"]</a>
  </div>  
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Songs</h1>

@if (Model == null)
{
  <p>No songs have been added</p>
}

<ul class="pagination justify-content-center">
  @foreach (var link in Model.Alphabet)
  {
    if (Model.FirstLetters.Contains(link) || (Model.NamesStartWithNumbers && link == "0-9") || link == "All")
    {
      if (Model.SelectedLetter == link || Model.SelectedLetter == null && link == "All")
      {
        <li class="page-item active"><span class="page-link">@link</span></li>
      }
      else
      {
        <li class="page-link">@Html.ActionLink(link, "Index", new {selectedLetter = link})</li>
      }
    }
    else
    {
      <li class="page-item disabled" ><span class="page-link">@link</span></li>
    }
  }
</ul>

<ul>
  @foreach (Song song in Model.GenericList)
  {
    <li><h4><a asp-action="Details"
                asp-route-id="@song.SongId">@song.Name</a></h4></li>  
  }
</ul>

<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Song</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>