@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Artist

@if(@TempData["ArtistUpdate"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["ArtistUpdate"]
  </div>
}  

<h2>@Html.DisplayFor(model => model.Name) Details</h2>
<hr/>
<div class="row">
  <div class="col-sm-3">
    <h3>@Html.DisplayNameFor(model => model.Name):</h3><h6>@Html.DisplayFor(model => model.Name)</h6>
    <h3>@Html.DisplayNameFor(model => model.Genre):</h3><h6>@Html.DisplayFor(model => model.Genre)</h6> 
    <h3>@Html.DisplayNameFor(model => model.Description):</h3><h6>@Html.DisplayFor(model => model.Description)</h6>
    <h3>Albums:</h3>
    @foreach (var album in Model.JoinAlbum)
    {
      <h6>@album.Album.Name : @album.Album.ReleaseDate.ToLongDateString()</h6>
    }  
    <br>
  </div>
  <div class="col-sm-4">
    <h3>Tunings used by @Html.DisplayFor(model => model.Name)</h3>
    @foreach (var tuning in Model.JoinTuning.OrderBy(tuning => tuning.Tuning.Name))
      {
        <li>
          <a asp-controller="Tunings"
          asp-action="Details"
          asp-route-id="@tuning.Tuning.TuningId">@tuning.Tuning.Name</a> : @tuning.Tuning.Notes
        </li>
      }
  </div>    
  <div class="col-sm-4">
    <h3>Songs by @Html.DisplayFor(model => model.Name)</h3>
    @foreach (var song in Model.JoinSong.OrderBy(song => song.Song.Name))
      {
        <li>
          <a asp-controller="Songs"
          asp-action="Details"
          asp-route-id="@song.Song.SongId">@song.Song.Name</a>
        </li>
      } 
  </div> 
</div>            
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{    
<a  asp-action="Edit"
    asp-route-id="@Model.ArtistId">Edit Artist: @Model.Name</a>
<br>
<a  asp-action="Delete"
    asp-route-id="@Model.ArtistId">Delete Artist: @Model.Name</a>
}
<br>
<br>
<h6><a  asp-action="Index">View All Artists</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>