@{
  Layout = "_Layout";
}

@model GuitarTunings.Models.Artist

<h2>Edit Artist</h2>

<h4>Edit this Artist: @Html.DisplayFor(model => model.Name)</h4>
@ViewBag.Message

<form asp-controller="Artists" asp-action="Edit", enctype="multipart/form-data", method="post">
    <input type="hidden" asp-for="ArtistId" />
    <input type="hidden" asp-for="ArtistImageName" />

    <label asp-for="Name"></label>
    <input asp-for="Name", required />

    <label asp-for="Genre"></label>
    <input asp-for="Genre" />

    <label asp-for="Description"></label>
    <input asp-for="Description" />

    <label asp-for="ArtistImageName"></label>
    <input asp-for="ArtistImageFile" accept="image/*" required />

    <input type="submit" value="Save" class="btn btn-warning"/>
</form>

<br>

<h3>Songs by @Html.DisplayFor(model => model.Name)</h3>
@foreach (var song in Model.JoinSong)
  {
    <li>
      <a asp-controller="Songs"
      asp-action="Details"
      asp-route-id="@song.Song.SongId">@song.Song.Name</a>
      <form asp-controller="Artists" asp-action="DeleteSong", method="post">
        <input type="hidden" asp-for="ArtistId" />
        @Html.Hidden("joinId", @song.ArtistSongId)
        <input type="submit" value="Delete Song" class="btn btn-danger btn-sm"/>
      </form>
    </li>
  }

<br>    

<form asp-controller="Artists" asp-action="AddSong", method="post">
    <input type="submit" value="Add Song" class="btn btn-success btn-sm"/>
    <input type="hidden" asp-for="ArtistId" />
    @Html.DropDownList("SongId")
</form>

<br>

<h3>Tunings used by @Html.DisplayFor(model => model.Name)</h3>
@foreach (var tuning in Model.JoinTuning)
  {
    <li>
      <a asp-controller="Tunings"
      asp-action="Details"
      asp-route-id="@tuning.Tuning.TuningId">@tuning.Tuning.Name</a>
      <form asp-controller="Artists" asp-action="DeleteTuning", method="post">
        <input type="hidden" asp-for="ArtistId" />
        @Html.Hidden("joinId", @tuning.ArtistTuningId)
        <input type="submit" value="Delete Tuning" class="btn btn-danger btn-sm"/>
      </form>
    </li>
  }
<br>    
<form asp-controller="Artists" asp-action="AddTuning", method="post">
    <input type="submit" value="Add Tuning" class="btn btn-success btn-sm"/>
    <input type="hidden" asp-for="ArtistId" />
    @Html.DropDownList("TuningId")
</form>
<br>
<a asp-action="Details"
    asp-route-id="@Model.ArtistId">Back to Details for: @Model.Name</a>
<br>
<br>
<h6><a asp-action="Index">View All Artists</a></h6>
<h6><a asp-controller="Home"
      asp-action="Index">Home</a></h6>