@using GuitarTunings.ViewModels;
@model AlphabetPagingViewModel;

@if(@TempData["ArtistCreate"] != null)
{
<div class="alert alert-success" role="alert">
  <a asp-action="Details" asp-route-id="@ViewBag.ArtistId">@TempData["ArtistCreate"]</a>
</div>
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Artists</h1>
@* <form asp-controller="Artists" asp-action="Index" method="post">
  <input class="form-control" type="text" name="searchText" placeholder="Search Artists">
  <input type="submit", value="Search", class="btn btn-warning" />
</form>   *@

<ul class="pagination justify-content-center">
    @foreach (var link in Model.Alphabet)
    {
        if (Model.FirstLetters.Contains(link) || (Model.NamesStartWithNumbers && link == "0-9") || link == "All")
        {
            if (Model.SelectedLetter == link || Model.SelectedLetter == null && link == "All")
            {
                <li class="page-item active"><span class="page-link">@link</span></li>
            }
            else
            {
                <li class="page-link">@Html.ActionLink(link, "Index", new {selectedLetter = link})</li>
            }
        }
        else
        {
            <li class="page-item disabled" ><span class="page-link">@link</span></li>
        }
    }
</ul>

<ul>
  @foreach (var artist in Model.Dict.OrderBy(artist => artist.Value))
  {
    <li><h4><a asp-action="Details"
            asp-route-id="@artist.Key">@artist.Value</a></h4></li>
  }
</ul>

<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Artist</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>