@using GuitarTunings.ViewModels;
@model AlphabetPagingViewModel;

@if(@TempData["AlbumCreate"] != null)
{
  <div class="alert alert-success" role="alert">
    <a asp-action="Details" asp-route-id="@ViewBag.AlbumId">@TempData["AlbumCreate"]</a>
  </div>  
}

@if(@TempData["AlbumDelete"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["AlbumDelete"]
  </div>  
}

@if(@TempData["urlNotFound"] != null)
{
  <div class="alert alert-danger" role="alert">
    <b>Page not found: </b>@TempData["urlNotFound"]
  </div>
}

<h1>Albums</h1>

@if (Model == null)
{
  <p>No albums have been added</p>
}

<ul class="pagination justify-content-center">
    @foreach (var link in Model.Alphabet)
    {
      if (Model.FirstLetters.Contains(link) || (Model.NamesStartWithNumbers && link == "0-9") || link == "All")
      {
        if (Model.SelectedLetter == link || Model.SelectedLetter == null && link == "All")
        {
            <li class="page-item active"><span class="page-link">@link</span></li>
        }
        else
        {
            <li class="page-link">@Html.ActionLink(link, "Index", new {selectedLetter = link})</li>
        }
      }
      else
      {
        <li class="page-item disabled" ><span class="page-link">@link</span></li>
      }
    }
</ul>

<ul>
  @foreach (var album in Model.Dict.OrderBy(album => album.Value))
  {
    <li><h4><a asp-action="Details"
            asp-route-id="@album.Key">@album.Value</a></h4></li>
  }
</ul>
<br>
<br>
@if (!User.Identity.IsAuthenticated)
{
}
else
{
<h6><a asp-action="Create">Add new Album</a></h6>
}
<h6><a asp-controller="Home"
        asp-action="Index">Home</a></h6>